<a href="https://colab.research.google.com/github/hiyoman/ai/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import files

In [4]:
uploaded = files.upload()

Saving 중앙선_죽령터널(노면온도).csv to 중앙선_죽령터널(노면온도).csv

In [6]:
import io
import pandas as pd

In [7]:
df = pd.read_csv(io.StringIO(uploaded['중앙선_죽령터널(노면온도).csv'].decode('cp949')))

In [8]:
df.head()

    노선   위치              수집일시      노면온도  ... 시간강수량 6시간누적강수량 노면상태 도로살얼음실시간경보
0  중앙선  238  2020-11-13 11:00  14.98761  ...     0        0  Smp         관찰
1  중앙선  238  2020-11-13 12:00  19.23038  ...     0        0  Dry         관찰
2  중앙선  238  2020-11-13 13:00  22.17194  ...     0        0  Dry         관찰
3  중앙선  238  2020-11-13 14:00  23.22433  ...     0        0  Dry         관찰
4  중앙선  238  2020-11-13 15:00  22.16589  ...     0        0  Dry         관찰

[5 rows x 12 columns]

In [12]:
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
	n_vars = 1 if type(data) is list else data.shape[1]
	df = DataFrame(data)
	cols = list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
	# forecast sequence (t, t+1, ... t+n)
	for i in range(0, n_out):
		cols.append(df.shift(-i))
	# put it all together
	agg = concat(cols, axis=1)
	# drop rows with NaN values
	if dropnan:
		agg.dropna(inplace=True)
	return agg.values

In [10]:
def walk_forward_validation(data, n_test):
	predictions = list()
	# split dataset
	train, test = train_test_split(data, n_test)
	# seed history with training dataset
	history = [x for x in train]
	# step over each time-step in the test set
	for i in range(len(test)):
		# split test row into input and output columns
		testX, testy = test[i, :-1], test[i, -1]
		# fit model on history and make a prediction
		yhat = random_forest_forecast(history, testX)
		# store forecast in list of predictions
		predictions.append(yhat)
		# add actual observation to history for the next loop
		history.append(test[i])
		# summarize progress
		print('>expected=%.1f, predicted=%.1f' % (testy, yhat))
	# estimate prediction error
	error = mean_absolute_error(test[:, -1], predictions)
	return error, test[:, 1], predictions

In [11]:
def random_forest_forecast(train, testX):
	# transform list into array
	train = asarray(train)
	# split into input and output columns
	trainX, trainy = train[:, :-1], train[:, -1]
	# fit model
	model = RandomForestRegressor(n_estimators=1000)
	model.fit(trainX, trainy)
	# make a one-step prediction
	yhat = model.predict([testX])
	return yhat[0]

In [13]:
df.head()

    노선   위치              수집일시      노면온도  ... 시간강수량 6시간누적강수량 노면상태 도로살얼음실시간경보
0  중앙선  238  2020-11-13 11:00  14.98761  ...     0        0  Smp         관찰
1  중앙선  238  2020-11-13 12:00  19.23038  ...     0        0  Dry         관찰
2  중앙선  238  2020-11-13 13:00  22.17194  ...     0        0  Dry         관찰
3  중앙선  238  2020-11-13 14:00  23.22433  ...     0        0  Dry         관찰
4  중앙선  238  2020-11-13 15:00  22.16589  ...     0        0  Dry         관찰

[5 rows x 12 columns]

In [14]:
df.수집일시

0       2020-11-13 11:00
1       2020-11-13 12:00
2       2020-11-13 13:00
3       2020-11-13 14:00
4       2020-11-13 15:00
              ...
3388     2021-04-23 7:00
3389     2021-04-23 8:00
3390     2021-04-23 9:00
3391    2021-04-23 10:00
3392    2021-04-23 11:00
Name: 수집일시, Length: 3393, dtype: object

In [15]:
index = df.index

In [16]:
columns = df.columns

In [17]:
data = df.values

In [18]:
index

RangeIndex(start=0, stop=3393, step=1)

In [19]:
columns

Index(['노선', '위치', '수집일시', '노면온도', '대기온도', '습도', '기압', '풍속', '시간강수량',
       '6시간누적강수량', '노면상태', '도로살얼음실시간경보'],
      dtype='object')

In [20]:
data

array([['중앙선', 238, '2020-11-13 11:00', ..., '0', 'Smp', '관찰'],
       ['중앙선', 238, '2020-11-13 12:00', ..., '0', 'Dry', '관찰'],
       ['중앙선', 238, '2020-11-13 13:00', ..., '0', 'Dry', '관찰'],
       ...,
       ['중앙선', 238, '2021-04-23 9:00', ..., '0', 'Dry', '관찰'],
       ['중앙선', 238, '2021-04-23 10:00', ..., '0', 'Dry', '관찰'],
       ['중앙선', 238, '2021-04-23 11:00', ..., '0', 'Dry', '관찰']],
      dtype=object)

In [21]:
type(index)

pandas.core.indexes.range.RangeIndex

In [22]:
type(columns)

pandas.core.indexes.base.Index

In [23]:
type(data)

numpy.ndarray

In [24]:
issubclass(pd.RangeIndex, pd.Index)

True

In [25]:
index.values

array([   0,    1,    2, ..., 3390, 3391, 3392])

In [26]:
columns.values

array(['노선', '위치', '수집일시', '노면온도', '대기온도', '습도', '기압', '풍속', '시간강수량',
       '6시간누적강수량', '노면상태', '도로살얼음실시간경보'], dtype=object)

In [27]:
df.dtypes

노선             object
위치              int64
수집일시           object
노면온도          float64
대기온도           object
습도             object
기압             object
풍속             object
시간강수량          object
6시간누적강수량       object
노면상태           object
도로살얼음실시간경보     object
dtype: object

In [28]:
df.노선

0       중앙선
1       중앙선
2       중앙선
3       중앙선
4       중앙선
       ...
3388    중앙선
3389    중앙선
3390    중앙선
3391    중앙선
3392    중앙선
Name: 노선, Length: 3393, dtype: object

In [29]:
type(df['노선'])

pandas.core.series.Series

In [30]:
director = df['노선']

In [31]:
director.name

'노선'

In [ ]:
director.to_frame()

       노선
0     중앙선
1     중앙선
2     중앙선
3     중앙선
4     중앙선
...   ...
3388  중앙선
3389  중앙선
3390  중앙선
3391  중앙선
3392  중앙선

[3393 rows x 1 columns]

In [32]:
s_attr_methonds = set(dir(pd.Series))

In [33]:
len(s_attr_methonds)

425

In [34]:
df_attr_methods = set(dir(pd.DataFrame))

In [35]:
len(df_attr_methods)

427

In [37]:
len(s_attr_methonds & df_attr_methods )

372