<a href="https://colab.research.google.com/github/hiyoman/ai/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files

In [ ]:
uploaded = files.upload()

In [ ]:
import io
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
data = pd.read_csv(io.StringIO(uploaded['중앙선_죽령터널(노면온도).csv'].decode('cp949')))

In [ ]:
data

       노선   위치              수집일시      노면온도  ... 시간강수량 6시간누적강수량 노면상태 도로살얼음실시간경보
0     중앙선  238  2020-11-13 11:00  14.98761  ...     0        0  Smp         관찰
1     중앙선  238  2020-11-13 12:00  19.23038  ...     0        0  Dry         관찰
2     중앙선  238  2020-11-13 13:00  22.17194  ...     0        0  Dry         관찰
3     중앙선  238  2020-11-13 14:00  23.22433  ...     0        0  Dry         관찰
4     중앙선  238  2020-11-13 15:00  22.16589  ...     0        0  Dry         관찰
...   ...  ...               ...       ...  ...   ...      ...  ...        ...
3388  중앙선  238   2021-04-23 7:00  15.06131  ...     0        0  Dry         관찰
3389  중앙선  238   2021-04-23 8:00  15.26759  ...     0        0  Dry         관찰
3390  중앙선  238   2021-04-23 9:00  17.59327  ...     0        0  Dry         관찰
3391  중앙선  238  2021-04-23 10:00  18.58636  ...     0        0  Dry         관찰
3392  중앙선  238  2021-04-23 11:00  18.39429  ...     0        0  Dry         관찰

[3393 rows x 12 columns]

In [ ]:
from sklearn.datasets import load_iris

In [ ]:
import matplotlib

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

In [ ]:
try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass

In [ ]:
from zlib import crc32

def test_set_check(id, test_ratio):
    return crc32(np.int64(id)) & 0xffffffff < test_ratio * 2**32

def split_train_test_by_id(data, test_ratio, id_column):
    ids = data[id_column]
    in_test_set = ids.apply(lambda id_: test_set_check(id_, test_ratio))
    return data.loc[~in_test_set], data.loc[in_test_set]

# 승객 ID를 식별자로 사용했습니다.
train_set, test_set = split_train_test_by_id(data, 0.2, "노면온도")

print(len(train_set), len(test_set))

2725 668

In [ ]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(data, test_size=0.2, random_state=1006)

print(len(train_set), len(test_set))

2714 679

In [ ]:
data

       노선   위치              수집일시      노면온도  ... 시간강수량 6시간누적강수량 노면상태 도로살얼음실시간경보
0     중앙선  238  2020-11-13 11:00  14.98761  ...     0        0  Smp         관찰
1     중앙선  238  2020-11-13 12:00  19.23038  ...     0        0  Dry         관찰
2     중앙선  238  2020-11-13 13:00  22.17194  ...     0        0  Dry         관찰
3     중앙선  238  2020-11-13 14:00  23.22433  ...     0        0  Dry         관찰
4     중앙선  238  2020-11-13 15:00  22.16589  ...     0        0  Dry         관찰
...   ...  ...               ...       ...  ...   ...      ...  ...        ...
3388  중앙선  238   2021-04-23 7:00  15.06131  ...     0        0  Dry         관찰
3389  중앙선  238   2021-04-23 8:00  15.26759  ...     0        0  Dry         관찰
3390  중앙선  238   2021-04-23 9:00  17.59327  ...     0        0  Dry         관찰
3391  중앙선  238  2021-04-23 10:00  18.58636  ...     0        0  Dry         관찰
3392  중앙선  238  2021-04-23 11:00  18.39429  ...     0        0  Dry         관찰

[3393 rows x 12 columns]

In [ ]:
data = data.drop

In [ ]:
data = data.drop(['노선','위치','대기온도','시간강수량','도로살얼음실시간경보'], axis = 1)

In [ ]:
data

                  수집일시      노면온도    습도     기압   풍속 6시간누적강수량 노면상태
0     2020-11-13 11:00  14.98761  42.4  981.7    2        0  Smp
1     2020-11-13 12:00  19.23038    43    981  2.7        0  Dry
2     2020-11-13 13:00  22.17194  44.2  980.2  2.4        0  Dry
3     2020-11-13 14:00  23.22433  42.3  979.8  2.8        0  Dry
4     2020-11-13 15:00  22.16589  43.9  979.5  1.3        0  Dry
...                ...       ...   ...    ...  ...      ...  ...
3388   2021-04-23 7:00  15.06131  21.6  974.7  1.1        0  Dry
3389   2021-04-23 8:00  15.26759  25.5  975.7  1.7        0  Dry
3390   2021-04-23 9:00  17.59327  25.2  975.9  3.8        0  Dry
3391  2021-04-23 10:00  18.58636  27.5  975.7  1.8        0  Dry
3392  2021-04-23 11:00  18.39429  27.2  975.1  1.2        0  Dry

[3393 rows x 7 columns]

In [ ]:
target = data.노면상태

In [ ]:
target = data['노면상태']

In [ ]:
target

0       Smp
1       Dry
2       Dry
3       Dry
4       Dry
       ...
3388    Dry
3389    Dry
3390    Dry
3391    Dry
3392    Dry
Name: 노면상태, Length: 3393, dtype: object

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.3, random_state=1)

In [ ]:
data = data.drop('노면상태', axis = 1)

In [ ]:
data

                  수집일시      노면온도    습도     기압   풍속 6시간누적강수량
0     2020-11-13 11:00  14.98761  42.4  981.7    2        0
1     2020-11-13 12:00  19.23038    43    981  2.7        0
2     2020-11-13 13:00  22.17194  44.2  980.2  2.4        0
3     2020-11-13 14:00  23.22433  42.3  979.8  2.8        0
4     2020-11-13 15:00  22.16589  43.9  979.5  1.3        0
...                ...       ...   ...    ...  ...      ...
3388   2021-04-23 7:00  15.06131  21.6  974.7  1.1        0
3389   2021-04-23 8:00  15.26759  25.5  975.7  1.7        0
3390   2021-04-23 9:00  17.59327  25.2  975.9  3.8        0
3391  2021-04-23 10:00  18.58636  27.5  975.7  1.8        0
3392  2021-04-23 11:00  18.39429  27.2  975.1  1.2        0

[3393 rows x 6 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.3, random_state=1)

In [ ]:
X_test

                  수집일시       노면온도    습도     기압   풍속   6시간누적강수량
1664  2021-02-10 11:00   3.936000    58  977.1  2.6          0
913   2020-12-21 12:00   4.416623  40.9  980.1  3.2          0
2576  2021-03-20 11:00   9.609576  74.3  966.3  0.3  0.4399998
255    2020-11-24 2:00   1.003157  71.1  979.7  0.8          0
2045   2021-02-26 8:00  -1.054753  70.2  976.8  0.9          0
...                ...        ...   ...    ...  ...        ...
32    2020-11-14 19:00  13.146360  50.7    982  1.5          0
199   2020-11-21 18:00   9.715533  61.3  976.4  2.2          0
1396   2021-01-30 7:00  -5.559608  52.7  975.8  0.4          0
228   2020-11-22 23:00   6.198013  65.6  975.4  3.1        NAN
2996  2021-04-06 23:00  10.300770  55.2    973  0.6          0

[1018 rows x 6 columns]

In [ ]:
y_test

1664               Dry
913     Chemically wet
2576               Wet
255                Dry
2045               Dry
             ...
32                Damp
199               Damp
1396               Dry
228                Dry
2996              Damp
Name: 노면상태, Length: 1018, dtype: object